/* Add your CSS styles here */
.content {
    margin: 0;
    padding: 20px 30px 66px;
    position: relative;
    background: #F1F4F5;
    transition: margin 0.4s;
  }
  
  .email-container,
  .contacts-search,
  .projects-search {
    position: relative;
  }
  
  .inbox-head,
  .contacts-search,
  .projects-search {
    min-height: 80px;
    padding: 20px 0;
  }
  
  .email-container .search-input,
  .contacts-search .search-input,
  .projects-search .search-input {
    width: calc(100% - 60px);
    border: 1px solid #E7EBEC;
    border-radius: 3px 0 0 3px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
  }
  
  .inbox-head .search-input,
  .contacts-search .search-input,
  .projects-search .search-input {
    border: 1px solid #E7EBEC;
    border-radius: 3px 0 0 3px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
  }
  
  .email-container .search-btn,
  .contacts-search .search-btn,
  .projects-search .search-btn {
    width: 60px;
  }
  
  .inbox-head .search-btn,
  .contacts-search .search-btn,
  .projects-search .search-btn {
    background: #63A8EB;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    box-shadow: none;
  }
  
  /* Continue adding the rest of the styles from the provided CSS file */
  .project-wrapper {
    background: transparent !important;
  }
  
  .content-box {
    position: relative;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
  
  .project-item {
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  
  .project-item .status-desktop,
  .project-item .status-mobile {
    margin-top: 20px;
    font-weight: 400;
    width: 100px;
  }
  
  .project-box {
    border-radius: 3px;
    padding: 10px;
    width: calc(100% - 100px);
  }
  
  .white-bg {
    background: #fff !important;
  }
  
  .project-item .status-desktop .active:before,
  .project-item .status-mobile .active:before {
    background: #42b382;
  }
  
  .project-item .status-desktop span:before,
  .project-item .status-mobile span:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .project-item .status-desktop .unactive:before,
  .project-item .status-mobile .unactive:before {
    background: #E9585B;
  }
  
  .project-item .status-mobile {
    position: absolute;
    top: -5px;
    left: 10px;
    display: none;
    background: #fff;
    border-radius: 3px;
    color: #76828E;
    padding: 5px;
  }
  
  .project-item .status-desktop,
  .project-item .status-mobile {
    margin-top: 20px;
    font-weight: 400;
    width: 100px;
  }
  
  .project-box .mobile-tools {
    display: none;
  }
  
  .project-box .project-tools {
    margin-top: 5px;
  }
  
  .project-box > div {
    width: 25%;
  }
  
  .project-box .project-tools a {
    font-size: 20px;
    margin-right: 12px;
    color: #76828E;
  }
  
  .project-box .project-progress {
    margin-top: 4px;
  }
  
  .project-box .project-progress .progress {
    border-radius: 3px;
    margin-bottom: 0;
  }
  
  .project-box .project-tools {
    margin-top: 5px;
  }
  
  .project-box .project-tools a {
    font-size: 20px;
    margin-right: 12px;
    color: #76828E;
  }
  
  .resp-avatars img {
    width: 40px;
    height: 40px;
  }
  