/* SignUpForm.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .signup-h3{
    margin-right: 180px;
    color: #555;
  }
  
  .signup-container {
    width: 400px;
    margin: 125px auto;
    background-color: #ffffff98;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  }
  
  .signup-container h2 {
    text-align: center;
  }
  
  .signup-form {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-size: large;
  }
  
  .signup-form button:hover {
    background-color: #555;
  }
  
  .signup-container .become-delivery-partner {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-container .become-delivery-partner a {
    color: #333;
    text-decoration: none;
  }
  
  .googleButton{
    margin-top: 20px;
    margin-left: 75px;
  }